.header {
  height: 60px;
  max-width: 70%;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  position: fixed;
  z-index: 10;

  top: var(--mantine-spacing-lg);

  border-radius: var(--mantine-radius-lg);

  border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  background-color: light-dark(rgba(255, 255, 255, 0.6), rgba(30, 30, 30, 0.3));

  backdrop-filter: blur(7px);

  box-shadow: var(--mantine-shadow-sm);
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);

  @media (max-width: $mantine-breakpoint-sm) {
    height: 42px;
    width: 100%;
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-black-6)
    );
  }
}

.subLink {
  width: 50%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-7)
    );
  }
}

.dropdownFooter {
  background-color: light-dark(
    rgba(255, 255, 255, 0.6),
    rgba(30, 30, 30, 0.1) !important
  );
  backdrop-filter: blur(4px);
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
